<div id="<%= dom_id task %>">
  <p>
    <strong>Tittle:</strong>
    <%= task.tittle %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= task.body %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= task.weight %>
  </p>

</div>
