<div class="h-75 d-flex flex-column justify-content-center align-items-center">
    <h1 class="text-danger text-center fw-semibold">Welcome to the todo-list</h1>
    <h3 class="text-danger text-center lead">Login or create your account to continue!</h3>
</div>